{% extends "base2.html" %}
{% load i18n %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Support Us | Pycon Ghana 2018" %}{% endif %}{% endblock %}


{% block content %}
<header id="top" class="sub-header">
        <div class="container">
        </div>
        <!-- end .container -->
    </header>
      <section>
      	 <div class="col-sm-12">
                     <div class="section-title wow fadeInUp">
                        <h4>  </h4>
                     </div>
                    <div class="panel panel-danger wow fadeInLeft">      
                          <div class="row">
							       <div class="container">
							            <h5>Support Us<br><small>Become A Sponsor</small></h5><br>
							            <h6>Why we need sponsors</h6>
							            <p>PyCon Ghana is wholly organized by volunteers. We therefore need sponsors to help us cover the costs of:
							            <ul>
							                <li>basic running expenses;</li>
							                <li>provide a decent location to host PyConZim;</li>
							                <li>reimburse the travel and accommodation costs of our international speakers;</li>
											<li>provide financial assistance to participant who cannot otherwise afford to attend the conference;</li>
							                <li>catering and refreshments;</li>
							                <li>educational materials for the tutorials;</li>
							                <li>video recording of talks!</li>
							            </ul>
							              <br><br>

							              <h6>Sponsor Packages</h6>
							              <table>
							                  <tr>
							                      <td><h5 style="color: #000; text-shadow: 2px 2px 3px #cd7f32">Bronze <span>($500)</span></h5></td>
							                      <td><h5 style="color: #000; text-shadow: 2px 2px 3px #C0C0C0">Silver <span>($1000)</span></h5></td>
							                      <td><h5 style="color: #000; text-shadow: 2px 2px 3px #FFD700">  Gold <span>($2000)</span></h5></td>
							                      <td><h5 style="color: #000; text-shadow: 2px 2px 3px #b9f2ff"><b>Diamond </b><span>($5000)</span></h5></td>
							                  </tr>
							                  <tr>
							                      <td> <ul>
							                  <li>Logo on our homepage for a year</li>
							                  <li>Logo on banners</li>
							              </ul></td>
							                      <td><ul>
							                  <li>All of the above</li>
							                  <li>Logo in our newsletters</li>
							              </ul></td>
							                      <td><ul>
							                  <li>All of the above</li>
							                  <li>Introduction section our website</li>
							                  <li>5 mins lighting talk about your company</li>
							              </ul></td>
							                      <td><ul>
							                  <li>All of the above</li>
							                  <li>Logo and introduction section on our website</li>
							                  <li>10 mins lighting talk about your company</li>
							              </ul></td>
							                  </tr>
							              </table>
							              <br />
							              <h6>Special Sponsorship</h6>
											<p> Our standard packages are designed for organisations and individuals looking to make a contribution to building a stronger Python community in Ghana through PyCon Ghana. If you would like to Sponsor other aspects of the conference such as Breakfast, Lunch, Media or Internet, please reach out to us for more Information.
											</p>
											<p><b>If you are interested and wish to sponsor PyCon Ghana, then please contact us via
							                  <a href="mailto:hello@pyconghana.org">hello@pyconghana.org</a>.</b></p>

							          </div>
							      </div>   
							</div>
			      </div> 

    </section>


{% endblock %}