{% extends "base2.html" %}
{% load i18n %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Support Us | Pycon Ghana 2018" %}{% endif %}{% endblock %}


{% block content %}
<header id="top" class="sub-header">
        <div class="container">
            <h3 class="page-title wow fadeInDown">Support Us</h3>
            <p></p>
        </div>
        <!-- end .container -->
    </header><br><br>
<section>
        <div class="container"> 
		    <section class="faq">

		        <div class="container">
		        	
		            
		            
		            
		        </div>
		    </section>

        </div>
</section>

{% endblock %}