{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Home | Pycon Ghana 2018" %}{% endif %}{% endblock %}


{% block content %}


     <header id="top" class="header-video-module">
        <div class="video-container">
            <div class="header">
                <div class="container">

                    <div class="header_top-bg wow fadeInDown img">
                        <div class="img">
                            <picture>
                              <source media="(min-width: 650px)" srcset="{% static 'images/pycon3.png' %}">
                              <source media="(min-width: 465px)" srcset="{% static 'images/pycon440.png' %}">
                              <img src="{% static 'images/pycon441.png' %}" alt="" style="width:auto;">
                            </picture>
                        </div>
                    </div>

                    <div class="when_where wow fadeIn" data-wow-delay="0.4s">
                        <p class="event_when">August 10th - 11th 2018</p>
                        <p class="event_where"><strong>Accra, Ghana</strong></p>
                    </div>

                    <div class="header_bottom-bg">
                <a class="btn btn-default btn-xl wow zoomIn" data-wow-delay="0.3s" href="#" data-toggle="modal" data-target="#eventbrite-register">RESERVE MY SEAT</a>
                 <!-- <p class="cta_urgency wow fadeIn" data-wow-delay="0.5s"><small>Hurry up, Only few seats are available</small></p>  -->
            </div>

                </div>
                <!-- end .container -->
            </div>

            <div class="filter"></div>
            <video autoplay loop class="fillWidth video-header">
                <source src="{% static 'video/background.mp4' %}" type="video/mp4" />
                <source src="{% static 'video/background.webm' %}" type="video/webm" />
            </video>
            <div class="poster hidden">
                <img src="{% static 'video/background.png' %}" alt="event video poster">
            </div>
        </div>

    </header>

   

    <!-- 
     Highlight Section
     ====================================== -->

    <section class="highlight" id="about">

        <div class="container">
            <br><br>
            <h1><p class="lead text-center">The conference for the Python programming community in Ghana is organized by volunteers and python enthusiasts from the python programming community in Ghana. We expect speakers from Africa and the rest of the world.  We will announce the venue soon. The two day conference will bring together students, professionals, experts and enthusiasts who wish to share their knowledge and passion about Python and related technologies. It will comprise of talks, tutorials and sprints. Its purpose is to increase the visibility of developers, organizations, and companies within the community. The conference is suited for all skill levels, from beginners to expert developers.</p></h1>

            <div class="countdown_wrap">
                <br>
                <h6 class="countdown_title text-center">EVENT WILL START IN</h6>

                <!-- Countdown JS for the Event Date Starts here.
    TIP: You can change your event time below in the Same Format.  -->

                <ul id="countdown" data-event-date="10 august 2018 08:00:00">
                    <li class="wow zoomIn" data-wow-delay="0s"> <span class="days">00</span>
                        <p class="timeRefDays">days</p>
                    </li>
                    <li class="wow zoomIn" data-wow-delay="0.2s"> <span class="hours">00</span>
                        <p class="timeRefHours">hours</p>
                    </li>
                    <li class="wow zoomIn" data-wow-delay="0.4s"> <span class="minutes">00</span>
                        <p class="timeRefMinutes">minutes</p>
                    </li>
                    <li class="wow zoomIn" data-wow-delay="0.6s"> <span class="seconds">00</span>
                        <p class="timeRefSeconds">seconds</p>
                    </li>
                </ul>
            </div>
            <!-- end .countdown_wrap -->

            <div class="text-center">

                <!-- Add to Calendar Plugin. 
                     For Customization, Visit https://addtocalendar.com/ -->
                 <span class="atc-style-theme">
                     <div title="Add to Calendar" class="addeventatc">
                        ADD TO MY CALENDAR
                        <span class="start">08/10/2018 08:00 AM</span>
                        <span class="end">08/11/2018 06:00 PM</span>
                        <span class="timezone">Africa/Accra</span>
                        <span class="title">PyCon Ghana 2018</span>
                        <span class="description">The Conference for the Python programming community in Ghana is organized by Volunteers and Python enthusiasts from the python programming community in Ghana.</span>
                        <span class="location">Accra, Ghana</span>  
                        <span class="organizer">Python Software Community Ghana</span>
                        <span class="organizer_email">hello@pyconghana.org</span>
                    </div>
                </span>
            </div>

        </div>
        <!-- end .container -->

    </section><br><br>
    <!-- end section.highlight -->


      <section>

        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail wow fadeInUp">
                        <div><br>
                            <img src="{% static 'images/register_icon.png' %}">
                            <h5>Conference Registration</h5>
                            <p><a href="/2018/registration/" class="btn warn">Register for PyCon</a></p>
                            <p>Registration would be opened soon!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail wow fadeInUp" data-wow-delay="0.3s">
                        <div><br>
                            <img src="{% static 'images/speaker_icon.png' %}">
                            <h5>Want to be a Speaker</h5>
                            <p><a href="{% url 'talks:submit_talk' %}" class="btn warn">Submit your Proposal</a></p>
                            <p>CFP is Opened!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0">
                    <div class="thumbnail wow fadeInUp" data-wow-delay="0.6s">
                        <div><br>
                            <img src="{% static 'images/sponsor_icon.png' %}">
                            <h5>Sponsor Pycon Ghana!</h5>
                            <p><a href="/support_us" class="btn warn">Become a Sponsor</a></p>
                            <p>The companies and organizations who sponsor PyCon Ghana make the conference possible, and get to connect with a wide array of Python programmers.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- end .container -->
    </section>

    <!-- 
     What to Expect : Benefits
     ====================================== -->

    <!-- TODO: Change Icons to Fonts for better theming. -->

    <section class="benefits">

        <div class="container">
            <div class="section-title wow fadeInUp">
                <h4>WHAT TO EXPECT</h4>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="benefit-item wow fadeInLeft">
                                <div class="benefit-icon"><i class="icon icon-bubble-love-streamline-talk"> </i></div>
                                <h6 class="benefit-title">Great Talks</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="benefit-item wow fadeInRight">
                                <div class="benefit-icon"><i class="icon icon-map-pin-streamline"> </i></div>
                                <h6 class="benefit-title">Location</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="benefit-item wow fadeInLeft">
                                <div class="benefit-icon"> <i class="icon icon-cocktail-mojito-streamline"> </i></div>
                                <h6 class="benefit-title">Network</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="benefit-item wow fadeInRight">
                                <div class="benefit-icon"> <i class="icon icon-armchair-chair-streamline"> </i></div>
                                <h6 class="benefit-title">Accommodation</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!-- end .container -->
    </section>
    <!-- end section.benefits -->

<!-- 
     Our Speakers
     ====================================== -->

    <section class="speakers" id="speakers">
        <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                 <div class="section-title wow fadeInUp">
                    <h4>  </h4>
                 </div>
                <div class="panel panel-danger wow fadeInLeft">      
                        <div class="panel-body">
                            <p>The Python community in Ghana is a relatively new community with an audience of diverse Python experience; from beginners to expert developers. We are therefore looking for talks that will benefit our diverse audience. This means we welcome proposals suitable for beginners, people with somewhat knowledge of Python, very good programmers and expert programmers.</p> 
                            <p>We are looking for talks and workshops which address the following domains:Django Web Framework,Python in Data Science,Python Community,Python in Education and Python Application in various industries.</p>
                           <!-- <button type="submit" class="btn btn-success btn-lg" value="{% trans 'Log in' %}">Submit a Proposal</button> -->
                        </div>

                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                    <div class="section-title wow fadeInUp">
                        <h4>   </h4>
                    </div>
                    <div class="panel panel-warning wow fadeInRight">   
                            <div class="panel-body">
                                <p>The conference has raised Namibia's profile internationally. PyCon Namibia inspired the creation Python programming conferences in Zimbabwe and Nigeria, and travellers from other African nations to learn how the PyCon model can benefit their own programmers and software industries.</p>
                                <p>PyCon NA brings programmers and software experts from all over the world to Namibia. Attendees come from Brazil, Britain, Canada, Germany, Ghana, Greece, Italy, Mozambique, the Netherlands, Nigeria, South Africa, the USA, Zambia, Zimbabwe.</p>
                            </div>
                    </div>
            </div>
        </div>
        </div>
        <!-- end .container -->
    </section>
    <!-- end section.speakers -->

   
    <!-- 
     Location Map
     ====================================== -->

    <div class="g-maps" id="venue">

        <div class="map" id="map_canvas" data-maplat="5.6037" data-maplon="-0.1870" data-mapzoom="2" data-color="red" data-height="400" data-img="images/marker.png" data-info="Accra, Ghana"></div>
 
    </div>
    <!-- end div.g-maps -->

    <!-- ::: BEGIN-VENUE ::: -->
    <section id="directions" class="directions vertical-space-lg">

        <div class="container">
            <div class="section-title wow fadeInUp top-space-sm">
                <h4>GET DIRECTIONS</h4>
                <p>Fill the form below to get directions to our event location</p>
            </div>

            <div class="row">

                <div class="col-sm-6">

                    <form action="/routebeschrijving" onSubmit="calcRoute();return false;" id="routeForm">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="routeStart">Direction From:</label>
                                    <input type="text" id="routeStart" class="form-control" placeholder="Kumasi">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="routeVia">Via<small>(Optional)</small> </label>
                                    <input type="text" class="form-control" id="routeVia" value="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="sr-only">Travel mode:</label>

                            <label class="radio-inline" for="travelMode1">
                                <input type="radio" name="travelMode" id="travelMode1" value="DRIVING" checked /> Driving
                            </label>
                            <label class="radio-inline" for="travelMode2">
                                <input type="radio" name="travelMode" id="travelMode2" value="BICYCLING" /> Bicylcing
                            </label>
                            <label class="radio-inline" for="travelMode3">
                                <input type="radio" name="travelMode" id="travelMode3" value="TRANSIT" /> Public transport
                            </label>
                            <label class="radio-inline" for="travelMode4">
                                <input type="radio" name="travelMode" id="travelMode4" value="WALKING" /> Walking
                            </label>

                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-success btn-block"><i class="fa fa-location-arrow"></i> Get Directions </button>
                        </div>
                    </form>

                </div>

                <div class="col-sm-6">
                    <div class="directions-results">

                        <div id="directionsPanel">
                            <div class="direction-text">Enter Direction from and Travel Mode from the left form to see directions. </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--end-of-row-->
        </div>

    </section>
    <!-- ::: END MAP ::: -->


<!-- 
     Mailchimp Subscribe
     ====================================== -->

    <div class="highlight">
        <div class="container">
            <div class="row">
                <form action="php/subscribe.php" method="post" class="form subscribe-form" id="subscribeform">
                    <div class="form-group col-md-3 hidden-sm">
                        <h6 class="susbcribe-head wow fadeInLeft"> SUBSCRIBE <small>TO OUR NEWSLETTER</small></h6>
                    </div>
                    <div class="form-group col-sm-8 col-md-6 wow fadeInRight">
                        <label class="sr-only">Email address</label>
                        <input type="email" class="form-control input-lg" placeholder="Enter your email" name="email" id="email" required>
                        <div id="js-subscribe-result" class="text-center" data-success-msg="Almost finished. Please check your email and verify." data-error-msg="Oops. Something went wrong."></div>
                    </div>
                    <div class="form-group col-sm-4 col-md-3">
                        <button type="submit" class="btn btn-lg btn-success btn-block" id="js-subscribe-btn">Subscribe Now →</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- //  end .highlight -->
{% endblock %}