{% extends "base2.html" %}

{% block content %}
<header id="top" class="sub-header">
        <div class="container">
            <h3 class="page-title wow fadeInDown">   </h3>
        </div>
        <!-- end .container -->
</header>

<section class="speakers" id="speakers">
        <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                    <div class="section-title wow fadeInUp">
                        <h4>   </h4>
                    </div>
                    <div class="panel panel-warning wow fadeInRight">
                            <div class="panel-body">
                               <div class="row">
                                        <div class="col-md-10">
                                            <ul>
                                                <li><p><a href="/profile"class="btn warn">Back to My Profile</a></p></li>
                                                <li><p><a href="/talks/talk_list"class="btn warn">My Submitted Talks</a></p></li>
                                                <li><p><a href="{% url 'talks:submit_talk' %}"class="btn warn">Submit a Talk</a></p></li>
                                            </ul>
                                        </div>
                                </div>
                            </div>
                    </div>
            </div>
            <div class="col-sm-12 col-md-8">
                 <div class="section-title wow fadeInUp">
                    <h4>  </h4>
                 </div>
                <div class="panel panel-danger wow fadeInLeft">
                      <div class="row">
                                        <div class="col-md-12">
                                            <br>
                                            <div class="col-md-10">
											        <h5>Your talk submission was successful.</h5>
											        <p>Thank you for submitting your proposal. Our organising team will get back to you.</p>
											        <br><small>{% firstof user.get_short_name user.get_username %}, kindly check your email to confirm your submission.</small>
											        <br>
											</div>
                                        </div>
                                </div>
                </div>
            </div>

        </div>
        <!-- end .container -->
    </section>
{% endblock %}