{% extends "base2.html" %}
{% load i18n static %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Submitted Talks  | Pycon Ghana 2018" %}{% endif %}{% endblock %}


{% block content %}

<header id="top" class="sub-header">
        <div class="container">
        </div>
        <!-- end .container -->
</header>
<section class="speakers" id="speakers">
        <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                    <div class="section-title wow fadeInUp">
                        <h4>   </h4>
                    </div>
                    <div class="panel panel-warning wow fadeInRight">
                            <div class="panel-body">
                               <div class="row">
                                        <div class="col-md-10">
                                            <ul>
                                                <p><a href="/profile" class="btn warn">Back to My Profile</a></p>
                                                <p><a href="{% url 'talks:submit_talk' %}" class="btn warn">Submit a Talk</a></p>
                                            </ul>
                                        </div>
                                </div>
                            </div>
                    </div>
            </div>
            <div class="col-sm-12 col-md-8">
                 <div class="section-title wow fadeInUp">
                    <h4>  </h4>
                 </div>
                <div class="panel panel-danger wow fadeInLeft">
                      <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-10">

                                            {% if submitted_talks %}
                                                <h5> Your submitted talks</h5>
                                                <br>
                                                <table class="table">
                                                    <tr>
                                                        <th>Title</th>
                                                        <th>Session type</th>
                                                        <th>Intended Audience</th>
                                                        <th>Status</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                {% for talk in submitted_talks %}
                                                        <tr>
                                                            <td><a href="{% url 'talks:talk_details' pk=talk.pk %}">
                                                            <p>{{ talk.title }}</p></a>
                                                            </td>
                                                            <td>
                                                                {{ talk.talk_type }}
                                                            </td>
                                                            <td>
                                                                {{ talk.intended_audience }}
                                                            </td>
                                                            <td>
                                                                {{ talk.status }}
                                                            </td>
                                                            <td>
                                                                <a href="{% url 'talks:edit_talk' pk=talk.pk %}"><button style="font-size:12px">Edit <i class="fa fa-edit"></i></button></a>
                                                            </td>
                                                        </tr>
                                                            {% endfor %}

                                                        {% else %}
                                                            <br>
                                                            <p> You have not submitted any Talk yet, Please click the button below to create your First Proposal.</p>
                                                            <br>
                                                            <p><a class="btn btn-success" href="{% url 'talks:submit_talk' %}">Submit your Talk &raquo;</a></p>
                                                        {% endif %}
                                                </table>
                                            </div>
                                    </div>
                                </div>
                </div>
            </div>

        </div>
        <!-- end .container -->
    </section>
{% endblock %}