{% extends "base2.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <header id="top" class="sub-header">
        <div class="container">

            <h3 class="page-title wow fadeInDown">Submit your talk below, {% firstof user.get_short_name user.get_username %}</small></h3>
        </div>
        <!-- end .container -->
    </header><br><br>
    <!-- end .sub-header -->


<section>
        <div class="container"> 
            <div class="nav-center bottom-space-lg">
              
                             </div>
                                    <div class="thumbnail wow fadeInUp">
                                        <div class="caption">
                                           <div class="row">
                                                    <div class="col-md-3">
                                                    </div>
                                                    <div class="col-md-12">
                                                <br>
                                                <form action="{% url 'talks:submit_talk' %}" method="post">
                                                        {% crispy form form.helper %}
                                                            {% csrf_token %}
                                                </form>
                                               </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
</section>

{% endblock %}
