beautifulsoup4==4.6.0
certifi==2017.11.5
chardet==3.0.4
cloudinary==1.11.0
coverage==4.4.2
coveralls==1.2.0
defusedxml==0.5.0
Django==2.0.1
django-anymail==2.2
django-appconf==1.0.2
django-avatar==4.1.0
django-cloudinary-storage==0.2.3
django-crispy-forms==1.7.0
django-extensions==2.0.6
django-jet==1.0.7
django-markitup==3.0.0
-e git://github.com/dokterbob/django-newsletter.git@15a9f3b1535aa3bc9e61e44de43043805b62eac8#egg=django_newsletter
django-recaptcha==1.4.0
django-sendgrid-v5==0.6.87
django-tinymce==2.7.0
django-webtest==1.9.2
djangorestframework==3.7.7
docopt==0.6.2
docutils==0.12
feedparser==5.2.1
flake8==3.5.0
google-api-python-client==1.4.1
httplib2==0.10.3
idna==2.6
invoke==0.12.2
isort==4.2.15
ldif3==3.1.1
Markdown==2.6.11
mccabe==0.6.1
mock==2.0.0
oauth2client==2.2.0
oauthlib==2.0.6
pbr==4.0.2
Pillow==5.0.0
pluggy==0.6.0
psycopg2==2.7.3.2
py==1.5.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycodestyle==2.3.1
pyflakes==1.6.0
python-card-me==0.9.3
python-dateutil==2.7.2
python-http-client==3.0.0
python3-openid==3.1.0
pytz==2017.3
requests==2.18.4
requests-oauthlib==0.8.0
rsa==3.4.2
sendgrid==5.3.0
six==1.11.0
sorl-thumbnail==12.4.1
surlex==0.2.0
tox==2.9.1
tox-travis==0.10
unicodecsv==0.14.1
uritemplate==3.0.0
urllib3==1.22
virtualenv==15.1.0
waitress==1.1.0
WebOb==1.8.1
WebTest==2.0.29
