{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Account Activation Resent" %}{% endblock %}

{% block content %}
<div class="col-md-6 col-md-offset-3"><h3>Account Activation Resent</h3>
                                    <div class="thumbnail wow fadeInUp">
                                        <div class="caption">
                                           <div class="row">
                                                    <div class="col-md-3">

                                                    </div>
                                                    <div>
                                                <br>
                                                 <p>
                                                  {% blocktrans %}
                                                  We have sent an email to <b>{{ email }}</b> with further instructions.
                                                  <br>Thanks.
                                                  {% endblocktrans %}
                                                </p>
                                               </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>

{% endblock %}


{% comment %}
**registration/resend_activation_complete.html**
Used after form for resending account activation is submitted. By default has
the following context:

``email``
    The email address submitted in the resend activation form.
{% endcomment %}
