{% extends "base2.html" %}
{% load i18n %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "FAQ | Pycon Ghana 2018" %}{% endif %}{% endblock %}


{% block content %}
<header id="top" class="sub-header">
        <div class="container">
            
        </div>
        <!-- end .container -->
    </header><br><br>
<section>
	<div class="col-md-12">
        <div class="panel panel-danger wow fadeInLeft">
	        <div class="container"> 
			    <section class="faq">
			        <div class="container">
			            <div class="row ">
			            	<h5 class="page-title wow fadeInDown">Frequently Asked Questions<br><small> </small></h5><br>
			                <div class="col-xs-12">
			                    <h6></h6>
			                    <p>PyCon Ghana is a community conference intended for networking and collaboration in the developer community. We are governed by a formal code of conduct. Where participants are expected to contribute to an environment that is open and welcoming, considerate and respectful.</p><br>
			                </div>
			            </div>
			            
			            <div class="row">
			                <div class="col-md-6 wow fadeInLeft" data-wow-duration="2s">
			                    <h6 class="faq-title">How can I get to the venue?</h6>
			                    <p>The map and Contact details are listed within the contact information.You will also receive a confirmation email with location map.</p>
			                    <h6 class="faq-title">What about accommodation?</h6>
			                    <p>The cost of the hotel accommodation and travel is not included in the event fee. For corporate accommodation rate, please contact us directly.</p>
			                </div>
			                <div class="col-md-6 wow fadeInRight" data-wow-duration="2s">

			                    <h6 class="faq-title">What payment types do you accept?</h6>
			                    <p>All payments are processed via EventBrite. You may also pay at the time of event. But please reserve your seat by contacting us directly.</p>

			                    <h6 class="faq-title">Can I get a refund on my tickets?</h6>
			                    <p>Yes you can, although all tickets refunds would be 60% of the price unless the event is cancelled by us, in which case we will always make a full refund.</p><br><br>

			                    <p>You can contact <b><a href="mailto:organizers@pyconghana.org">organizers@pyconghana.org</a></b> for further inquiries.</p>

			                </div>
			            </div>
			        </div>
			    </section>

	        </div>
	    </div>
	</div>
</section>

{% endblock %}