{% extends "base2.html" %}
{% load i18n %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Registration | Pycon Ghana 2018" %}{% endif %}{% endblock %}

{% block content %}
<header id="top" class="sub-header">
        <div class="container">
        </div>
        <!-- end .container -->
    </header><br><br>
    <!-- end .sub-header -->
    <!--
     Our Schedule
     ====================================== -->

    <section class="schedule" id="schedule">
        <div class="col-md-12">
            <div class="panel panel-danger wow fadeInLeft">
                <div class="container">
                    <h5 class="page-title wow fadeInDown">Register for PyCon Ghana</h5><br>
                    <p>Please those within Ghana who would love to use Mobile Money, can send it directly to this number <b>0546998280 (Name: Mannie Young )</b> Please send an sms to the same number using your <b>email address and Transaction Id</b> as your Reference. <br><br><small>Click <a href="http://bit.ly/egopyconGH18"><b>HERE</b></a> to register directly from Ego Tickets if you encounter problems when registering here.</small></p><br>
                    <div class="egoticket_tickets">Please wait...Loading Tickets.</div><script type="text/javascript">
    (function() { var ego = document.createElement('script'); ego.type = 'text/javascript'; ego.async = true; ego.src = 'https://egotickets.com/embed/pycon-ghana-2018.js?skip_mobile=true';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ego);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://egotickets.com/?ref_noscript">tickets enabled by Egotickets.</a></noscript>
                </div>
                <!-- end .container -->
            </div>
        </div>

    </section>
    <!-- end section.schedule -->


{% endblock %}