{% extends "base2.html" %}
{% load i18n %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "About | Pycon Ghana 2018" %}{% endif %}{% endblock %}


{% block content %}
 <header id="top" class="sub-header">
        <div class="container">
          
        </div>
        <!-- end .container -->
    </header><br><br>
    <!-- end .sub-header -->
<section>
    <div class="col-md-12">
        <div class="panel panel-danger wow fadeInLeft">
            <div class="container"> 
    			<div class="row ">
                        <h5 class="page-title wow fadeInDown">About<br><small>What is Pycon Ghana.</small></h5><br> 
              
                        <div class="col-xs-15">
                            <p>PyCon Ghana is a community conference intended for networking and collaboration in the developer community. We are governed by a formal code of conduct. Where participants are expected to contribute to an environment that is open and welcoming, considerate and respectful.<br><br>
                            The conference would be covering many topics. There would be a diverse speaker list, and some things which will be quite different. Pycon Ghana attracts developers of various backgrounds and skill levels from Ghana and beyond. Activities include two full days of talks, lightning talk sessions, and a social event.</p>
                            <p>All communication should be appropriate for a general audience, which will include people from many different backgrounds.</p><br><br>

                        </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}