{% extends "base2.html" %}
{% load i18n %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Privacy Policy | Pycon Ghana 2018" %}{% endif %}{% endblock %}


{% block content %}
 <header id="top" class="sub-header">
        <div class="container">
        </div>
        <!-- end .container -->
    </header><br><br>
    <!-- end .sub-header -->
<section>
    <div class="col-md-12">
        <div class="panel panel-danger wow fadeInLeft">
            <div class="container"> 
    			<div class="row ">
                    <h5 class="page-title wow fadeInDown">Privacy Policy</h5><br>
                    <div class="col-xs-12">
                        <h6>Information we collect</h6>
                        <p>
    						We collect names, email addresses, twitter handles, github handle and, if you’re a speaker, sometimes phone numbers.
                        </p>

                        <br>

                        <h6>What we do with this information</h6>
                        <p>We take privacy very seriously. We use your contact information to send updates
                        and conference related info to attendees. We may use your phone number if you’re
                        a speaker and we’re trying to find you before your talk. Information may be
                        shared with third-party vendors conducting business on behalf of the conference.
                        Information may also be shared in accordance with our <a href="/coc/">code of conduct</a> as deemed necessary by conference staff. It is not
                        used for any other purpose, nor is it given or sold to any other party,
                        including other attendees or sponsors.</p>

                        <p>Feel free to contact <a href="mailto:organizers@pyconghana.org">organizers@pyconghana.org</a>
                        for details involving privacy.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br><br><br>

{% endblock %}