{% extends "base2.html" %}
{% load i18n %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Privacy Policy | Pycon Ghana 2018" %}{% endif %}{% endblock %}


{% block content %}
<section>
        <div class="container"> 
            <div class="nav-center bottom-space-lg">
                <h4>Privacy Policy</h4>
            </div>
			
			<div class="row ">
                <div class="col-xs-12">
                    <h6>Information we collect</h6>
                    <p>
						We collect names, email addresses, Twitter handles, and, if you’re a speaker, sometimes phone numbers.
                    </p>

                </div>
            </div>
        </div>
</section>

{% endblock %}