{% extends "base2.html" %}
{% load i18n static %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Error 500 | Pycon Ghana 2018" %}{% endif %}{% endblock %}

{% block content %}
<header id="top" class="sub-header">
    <div class="container">
    </div>
</header><br><br>
    <!-- end .sub-header -->

<div class="header_top-bg wow fadeInDown img">
                        <div class="img">
                            <picture>
                              <img src="{% static 'images/error.png' %}" alt="" style="width:auto;">
                            </picture>
                        </div>
                    </div>

{% endblock %}