{% extends "base2.html" %}
{% load i18n static %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Sponsors | Pycon Ghana 2018" %}{% endif %}{% endblock %}

{% block content %}
<header id="top" class="sub-header">
        <div class="container">
        </div>
        <!-- end .container -->
    </header><br><br>
    <!-- end .sub-header -->

<section>
    <div class="col-md-12">
        <div class="panel panel-danger wow fadeInLeft">
                <div class="container"> 
                    <div class="row ">
                        <h5 class="page-title wow fadeInDown">Our Sponsors<br><small>Sponsors and Supporters of PyCon Ghana 2018</small></h5><br>
                        <div class="col-xs-12">
                            <p>
                              <b>Python Conference Ghana is generously sponsored by organisations that support its aim</b>
                            </p>
                            <p>Would you like to join them? <a href="/support_us"><b>See How to sponsor PyCon Ghana.</b></a></p><br><br>

                     {% if diamond %}
                   
                    <h3 style="color: #000; text-shadow: 2px 2px 3px #b9f2ff"><b>Diamond Sponsors</b></h3>
                    <br><br>
                     <div class="container-fluid">
                       {% for sponsor in diamond %}
                            <div class="col-xs-2">
                                <p><a href="{{ sponsor.url }}" target="blank"><img src="{{ sponsor.logo.url }}" class='img-responsive'></a></p>
                            </div>
                        {% endfor %}
                          </div><br><br>
                    {% endif %}


                     {% if gold %}
                    <h4 style="color: #000; text-shadow: 2px 2px 3px #FFD700"><b>Gold Sponsors</b></h4>
                    <br />
                    <div class="container">
                    {% for sponsor in gold %}
                        <div class="col-xs-2">
                            <a href="{{ sponsor.url }}" target="_blank"><img src="{{ sponsor.logo.url }}" class='img-responsive'></a>
                        </div>
                        {% endfor %}
                        </div>
                        <br><br>
                    {% endif %}

                    

                     {% if silver %}
                    <h5 style="color: #000; text-shadow: 2px 2px 3px #C0C0C0"><b>Silver Sponsors<b></h5>
                    <br />
                    <div class="container">
                    {% for sponsor in silver %}
                        <div class="col-xs-2">
                            <a href="{{ sponsor.url }}" target="_blank"><img src="{{ sponsor.logo.url }}" class='img-responsive'></a>
                        </div>
                        {% endfor %}
                        </div>
                        <br><br>
                    {% endif %}



                         {% if bronze %}
                    <h6 style="color: #000; text-shadow: 2px 2px 3px #cd7f32"><b>Bronze Sponsors</b></h6>
                    <br />
                    <div class="container">
                    {% for sponsor in bronze %}
                        <div class="col-xs-2">
                            <a href="{{ sponsor.url }}" target="_blank"><img src="{{ sponsor.logo.url }}" class='img-responsive'></a>
                        </div>
                        {% endfor %}
                        </div><br><br>
                    {% endif %}

                       {% if special %}
                    <h6 style="color: #000; text-shadow: 2px 2px 3px #cd7012"><b>Special Sponsors</b></h6>
                    <br />
                    <div class="container">
                    {% for sponsor in special %}
                        <div class="col-xs-4">
                            <a href="{{ sponsor.url }}" target="_blank"><img src="{{ sponsor.logo.url }}" class='img-responsive'></a>
                            <p>
                                {{ sponsor.description }}
                            </p>
                        </div>
                        {% endfor %}
                        </div><br><br>
                    {% endif %}

                    <hr>

                            {% if individuals %}
                    <h6 style="color: #000; text-shadow: 2px 2px 3px "><b>Individual Sponsors</b></h6>
                    <div class="container-fluid">
                        <div class="row">
                                {% for individual in individuals %}
                                <div class="col-xs-2">
                                    <h6><a href="{{ individual.url }}" target="_blank">{{ individual.name }}</a></h6>
                                </div>
                                {% endfor %}
                            
                        </div>
                    </div>
                    {% endif %}
                    <br><br>
                               
                    </div>

                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>
{% endblock %}
