{% extends "base2.html" %}
{% load i18n %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "COC | Pycon Ghana 2018" %}{% endif %}{% endblock %}

{% block content %}
 <header id="top" class="sub-header">
        <div class="container">
            <h3 class="page-title wow fadeInDown">COC<br><small>Code of Conduct.</small></h3>
        </div>
        <!-- end .container -->
    </header><br><br>
    <!-- end .sub-header -->
<section>
        <div class="container"> 
           
			
			<div class="row ">
                <div class="col-xs-12">
                    <p>PyCon Ghana is a community conference intended for networking and collaboration in the developer community. We are governed by a formal code of conduct. Where participants are expected to contribute to an environment that is open and welcoming, considerate and respectful.<br>
                    We value the participation of each member of the Python community and want all attendees to have an enjoyable and fulfilling experience. Accordingly, all attendees are expected to show respect and courtesy to other attendees throughout the conference and at all conference events.</p>
					<p>
						PyCon Ghana is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, sexual orientation, disability, physical appearance, body size, race, or religion. 
						<p>We will not tolerate:</p>
						<ul>
							<li>sexist, racist or other exclusionary language, imagery or behaviour</li>
							<li>intimidating or threatening language or behaviour</li>
							<li>insulting or unpleasant language or behaviour</li>
							<li>harassment or unwanted attention of any form</li>
						</ul>

						Be kind to others. Do not insult or put down other attendees. Behave professionally. Remember that harassment and sexist, racist, or exclusionary jokes are not appropriate for PyCon.<br>
						All communication should be appropriate for a general audience, which will include people from many different backgrounds.<br>
						Attendees violating these rules may be asked to leave the conference without a refund at the sole discretion of the conference organizers.<br><br>
						Thank you for helping make this a welcoming, friendly event for all.
						<br><br><br>
						<h6 class="faq-title">Contact Information</h6>
						<p>
							If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact our conference coordinator(s) on <a href="mailto:coc@pyconghana.org">coc@pyconghana.org</a>
						</p>
						<p>
							The staff is well informed on how to deal with the incident and how to further proceed with the situation. Conference staff will be happy to help participants contact hotel/venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance.
							Conference staff - volunteers and organisers - will be on hand throughout the conference. Any concern, whatever it is, will be immediately passed on to a member of the conference committee.
						</p>

						<p>
							Further contacts will be provided during the conference. If you’re currently afraid of your physical safety or are in danger, contact local law enforcement: Emergency (Fire, Medical, Police):
						</p>
						<dl>
						  <dt>Email address for organizers</dt>
						  <dd><a href="mailto:organizers@pyconghana.org">organizers@pyconghana.org</a></dd>
						  <dt>Conference Staff Contact Number</dt>
						  <dd><a href="tel:+233546998122">+233 - 546998122</a></dd>
						  <dt>POLICE</dt>
						  <dd><a href="tel:191">191</a></dd>
						  <dt>FIRE SERVICE</dt>
						  <dd><a href="tel:192">192 </a>/<a href="tel:999"> 999</a></dd>
						  <dt>AMBULANCE</dt>
						  <dd><a href="tel:193">193</a></dd>
						</dl>

					</p>

                </div>

            </div>



        </div>
</section>

{% endblock %}