{% extends "base2.html" %}
{% load i18n avatar_tags static %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans " Profile | Pycon Ghana 2018" %}{% endif %}{% endblock %}

{% block content %}

<header id="top" class="sub-header">
        <div class="container">
        </div>
        <!-- end .container -->
    </header>

<section class="speakers" id="speakers">
        <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                    <div class="section-title wow fadeInUp">
                        <h4>   </h4>
                    </div>
                    <div class="panel panel-warning wow fadeInRight">
                            <div class="panel-body">
                               <div class="row">
                                        <div class="col-md-10">
                                            <ul>
                                                {% if user_profile %}
                                                <p><a href="{% url 'profiles:update' pk=user.id %}"class="btn warn">Update my Profile</a></p>
                                                <p><a href="/accounts/password/change/"class="btn warn">Change Password</a></p>
                                                <p><a href="{% url 'talks:talk_list' %}"class="btn warn">My Submitted Talks</a></p>
                                                <p><a href="{% url 'talks:submit_talk' %}"class="btn warn">Submit a new Talk</a></p>
                                                {% else %}
                                                <p><a href="{% url 'talks:submit_talk' %}"class="btn warn">Submit a new Talk</a></p>
                                                {% endif %}
                                            </ul>
                                        </div>
                                </div>
                            </div>
                    </div>
            </div>
            <div class="col-sm-12 col-md-8">
                 <div class="section-title wow fadeInUp">

                 </div>
                <div class="panel panel-danger wow fadeInLeft">
                        <div class="panel-body">
                            {% if user_profile %}
                            <h5 class="page-title wow fadeInDown">{% firstof user.get_short_name user.get_username %}'s Profile</h5>

                        <div class="row">

                            {% for user_p in user_profile %}
                                {% for detail in details %}
                                <div class="speaker-info wow fadeIn" data-wow-delay="0.1s">
                                    <!--{% avatar user 160 class="img-responsive center-block" id="user_avatar" %}-->
                                </div>

                            <div class="class=col-lg-6 col-md-6 col-xs-12 col-sm-12">
                                <div class="form-group">
                                    <label>Full Name</label>
                                    <h5><strong><input type="text" class="form-control" style="background-color:White; color:Black;" name="first_name" placeholder=" {{ user_p.surname }}  {{ user_p.name }}" readonly></strong></h5>

                                </div>

                            </div>

                            <div class="class=col-lg-6 col-md-6 col-xs-12 col-sm-12">
                                <div class="form-group">
                                    <label>Email Address</label>
                                    <h5><strong><input type="text" class="form-control" style="background-color:White; color:Black;" name="Email" placeholder="{{ detail.email }}" readonly></strong></h5>
                                </div>
                            </div>
                             {% endfor %}

                            <div class="class=col-lg-6 col-md-6 col-xs-12 col-sm-12">
                                <div class="form-group">
                                        <label>Contact Number</label>
                                        <h5><strong><input type="text" class="form-control" style="background-color:White; color:Black;" name="Nos" placeholder="{{ user_p.contact_number }}" readonly></strong></h5>
                                    </div>
                            </div>

                            <div class="class=col-lg-6 col-md-6 col-xs-12 col-sm-12">
                                <div class="form-group">
                                        <label>Location</label>
                                        <h5><strong><input type="text" class="form-control" style="background-color:White; color:Black;" name="DOB" placeholder="{{ user_p.city }}, {{ user_p.country }}" readonly></strong></h5>
                                    </div>
                            </div>
                            <div class="class=col-lg-6 col-md-6 col-xs-12 col-sm-12">
                                <div class="form-group">
                                        <label>Twitter</label>
                                        <h5><strong><input type="text" class="form-control" style="background-color:White; color:Black;" name="DOB" placeholder="{{ user_p.twitter_handle }}" readonly></strong></h5>
                                    </div>
                            </div>
                            <div class="class=col-lg-6 col-md-6 col-xs-12 col-sm-12">
                                <div class="form-group">
                                        <label>GitHub</label>
                                        <h5><strong><input type="text" class="form-control" style="background-color:White; color:Black;" name="DOB" placeholder="{{ user_p.github_username }}" readonly></strong></h5>
                                    </div>
                            </div><br>
                             <div class=" form-group">
                                    <div class="thumbnail wow fadeInUp">
                                        <div class="caption">
                                            <h6>Biography</h6>
                                            <p class="text-center">{{ user_p.bio }}</p>
                                        </div>
                                    </div>
                            </div>
                        </div>

                        {% endfor %}
                        {% else %}
                        <h5 class="page-title wow fadeInDown">Thanks for Signing up! {% firstof user.get_short_name user.get_username %}</h5>

                                <p><br>Please click the button below to create your profile.</p>
                                <br>
                                <p><a class="btn btn-success" href="{% url 'profiles:create_profile' %}">Create Your Profile Now &raquo;</a></p>
                    </div>
                     {% endif %}
                        </div>

                </div>
            </div>

        </div>
        <!-- end .container -->
    </section>
    <!-- end section.speakers -->



{% endblock %}
