{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Account Activated" %}{% endblock %}

{% block content %}
<div class="col-md-6 col-md-offset-3"><h3>Account Activated</h3><p>
														</p>
                                    <div class="thumbnail wow fadeInUp">
                                        <div class="caption">
                                           <div class="row">
                                                    <div class="col-md-3">
                                                    </div>
                                                    <div class="col-md-6">
                                                <br>
                                                 <p>

												    {% trans "Activation successfully completed!" %}<br>

												    {% if not user.is_authenticated %}
												      {% blocktrans %}<a href="/accounts/login"><b>log in here</b></a>{% endblocktrans %}
												    {% endif %}
												</p>
                                               </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>

{% endblock %}


{% comment %}
**registration/activation_complete.html**

Used after successful account activation. This template has no context
variables of its own, and should simply inform the user that their
account is now active.
{% endcomment %}
