{% extends "registration/log_base.html" %}
{% load i18n static crispy_forms_tags %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block content %}
                            <div class="col-md-6 col-md-offset-3"><h3>Login</h3>
                                    <div class="thumbnail wow fadeInUp">
                                        <div class="caption">
                                           <div class="row">
                                                    <div class="col-md-3">

                                                    </div>
                                                    <div class="col-md-6">
                                                <br>
                                                 <form class="form col-md-12"  margin="auto" method="post" action="">
                                                    {% csrf_token %}
                                                    <div class="row">
                                                        <div class="form-group">
                                                           <div class="row"> {{ form|crispy }}
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-md-12">
                                                            <button type="submit" class="btn btn-success btn-lg" value="{% trans 'Log in' %}">Login</button>
                                                        </div><strong>

                                                        <p>{% trans "Not Registered?" %} <a href="{% url 'registration_register' %}">{% trans "SIGNUP" %}</a>.</p></strong>

                                                         <p><a href="{% url 'auth_password_reset' %}">{% trans "reset my password" %}</a>.</p>

                                                    </div>
                                                    </div>
                                                </form>


                                               </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
{% endblock %}
